<!doctype html>
<html lang="en">
  <head>
    <title>Basic | XR Blocks Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="../../samples/main.css" />
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.186.0/build/three.module.js",
          "three/webgpu": "https://cdn.jsdelivr.net/npm/three@0.186.0/build/three.webgpu.js",
          "three/tsl": "https://cdn.jsdelivr.net/npm/three@0.186.0/build/three.tsl.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.186.0/examples/jsm/",
          "xrblocks": "../../build/xrblocks.js"
        }
      }
    </script>
  </head>

  <body>
    <script type="module" src="main.js"></script>
  </body>
</html>
