<!doctype html>
<html lang="en">
  <head>
    <title>Depth | XR Blocks Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link type="text/css" rel="stylesheet" href="../../samples/main.css" />
    <script>
      window.litDisableBundleWarning = true;
    </script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/",
          "lit": "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js",
          "lit/": "https://esm.run/lit@3/",
          "xrblocks": "../../build/xrblocks.js",
          "xrblocks/addons/": "../../build/addons/"
        }
      }
    </script>
  </head>

  <body>
    <script type="module" src="main.js"></script>
  </body>
</html>
