<!doctype html>
<html lang="en">
  <head>
    <title>Environment Physics | XR Blocks Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="../../samples/main.css" />
    <script type="importmap">
      {
        "imports": {
          "@dimforge/rapier3d-simd-compat": "https://cdn.jsdelivr.net/npm/@dimforge/rapier3d-simd-compat@0.19.2/rapier.mjs",
          "three": "https://cdn.jsdelivr.net/npm/three@0.184.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.184.0/examples/jsm/",
          "xrblocks": "../../build/xrblocks.js"
        }
      }
    </script>
  </head>
  <body>
    <script type="module" src="main.js"></script>
  </body>
</html>
